<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>

    <meta charset="UTF-8">

    <title th:text="#{user.edit.email.title}">
        メールアドレス変更
    </title>

</head>

<body>

    <div layout:fragment="content">

        <div class="header">

            <h1 class="h2"
                th:text="#{user.edit.email.heading}">
                メールアドレス変更
            </h1>

            <!-- フォームの横幅を制限 -->
            <div class="mx-auto mt-4"
                 style="max-width: 500px;">

                <form th:action="@{/user/edit/email}"
                      th:object="${editEmailForm}"
                      method="post">

                    <!-- 現在のメールアドレス -->
                    <div class="mb-4">

                        <label class="form-label fw-bold"
                               th:text="#{user.edit.email.current}">
                            現在のメールアドレス
                        </label>

                        <div class="form-control bg-light"
                             th:text="${currentEmail}">
                            current_email
                        </div>

                    </div>

                    <!-- 新しいメールアドレス -->
                    <div class="mb-4">

                        <label for="email"
                               class="form-label fw-bold"
                               th:text="#{user.edit.email.new}">
                            新しいメールアドレス
                        </label>

                        <input type="email"
                               id="email"
                               th:field="*{email}"
                               th:placeholder="#{signup.email.placeholder}"
                               th:errorclass="is-invalid"
                               class="form-control">
                        <div class="invalid-feedback"
                             th:errors="*{email}">
                        </div>

                    </div>

                    <!-- 更新 -->
                    <div class="text-center">

                        <button type="submit"
                                class="btn btn-primary"
                                th:text="#{user.edit.email.update}">
                            更新
                        </button>

                        <a th:href="@{/user/profile}"
                           class="btn btn-secondary ms-2"
                           th:text="#{user.edit.loginId.back}">
                            戻る
                        </a>

                    </div>

                </form>

            </div>

        </div>

    </div>

</body>

</html>