 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>中文造句工坊</title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment="content" class="container text-center mt-5">
	
	    <h1 class="mb-3"
	    	th:text="#{home.title}">瞬間中国語作文</h1>
	
	    <p class="text-muted"
	    	th:text="#{home.welcome}">
	        中国語トレーニングアプリへようこそ
	    </p>
	    
		<div class="text-danger"
		     th:if="${successMessage}"
		     th:text="${successMessage}">
		</div>
	
	    <div class="d-grid gap-3 col-md-3 mx-auto mt-5">		

	        <!-- チュートリアル -->
	        <a th:href="@{/about}"
	           class="btn btn-secondary"
	           th:text="#{home.about}">
	             このアプリについて
	        </a>	
	
	    </div>
	
	</div>

</body>
</html>