<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">ログイン</title>
</head>
<body>

    <div class="container mt-5" layout:fragment="content">

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">

                <form method="post" th:action="@{/login}">

                    <h2 class="text-center mb-4"
                        th:text="#{login.title}">
                        ログイン
                    </h2>
					<!-- ログインエラー -->
					<div class="text-danger mb-3"
					     th:if="${loginErrorMessage}"
					     th:text="#{__${loginErrorMessage}__}">
					</div>              

                    <!-- ログインID -->
                    <div class="mb-3">
                        <input type="text"
                               class="form-control"
                               th:placeholder="#{login.loginId}"
                               name="loginId">
                    </div>

                    <!-- パスワード -->
                    <div class="mb-3">
                        <input type="password"
                               class="form-control"
                               th:placeholder="#{login.password}"
                               name="password">
                    </div>
                    
					<!-- Remember-Me -->
					<div class="form-group mt-3 text-center">
					    <input class="form-check-input"
					           type="checkbox"
					           id="remember-me"
					           name="remember-me">
					    <label class="form-check-label"
					           for="remember-me"
					           th:text="#{login.rememberMe}">
					        ログイン状態を保持
					    </label>
					</div>                 

                    <!-- ログイン -->
                    <button type="submit"
                            class="btn btn-primary w-100"
                            th:text="#{login.button}">
                        ログイン
                    </button>

                    <!-- 新規登録 -->
                    <div class="text-center mt-3">
                        <a th:href="@{/signup}"
                           th:text="#{login.signup}">
                            新規登録はこちら
                        </a>
                    </div>

                    <!-- Topへ戻る -->
                    <div class="text-center mt-3">
                        <a th:href="@{/}"
                           class="btn btn-secondary"
                           th:text="#{login.backToTop}">
                            Topに戻る
                        </a>
                    </div>

                </form>

            </div>
        </div>

    </div>

</body>
</html>